.settingsConfirmation{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;

    width: 100vw;
    height: 100vh;

    background-color: RGBA(0, 0, 0, 30%);

    &__modal{
        position: relative;
        top: 50vh;
        transform: translate(0, -50%);
    
        min-width: 30rem;
        max-width: 38rem;
    
        margin: 0 auto;
        padding: 1rem;
    
        border-radius: 1rem;
        background-color: var(--banner-background-light-color);

        &__title{
            margin-bottom: 3rem;
            padding: 1rem;
        
            text-align: center;
            font-size: 2.4rem;
            font-weight: bold;
        }

        &__choice{
            display: flex;
            justify-content: space-between;
            margin-bottom: 3rem;

            &__button{
                width: 15rem;
                height: 4.5rem;
                font-size: 2rem;
            }
        }
    }
}