.crack{
    min-width: 30rem;
    max-width: 38rem;
    margin: 0 auto;

    &__action{
        margin-bottom: 2rem;

        text-align: center;
        color: var(--white-color);
        font-size: 3.4rem;
        font-weight: bold;
    }

    &__button{
        margin: 0 1rem 0 0;
        padding: 1rem;
        font-size: 3rem;
    }
}