@import url("https://fonts.googleapis.com/css?family=Roboto");

:root{
  --background-color: #202020;
  --banner-background-dark-color: #2F3033;
  --banner-background-light-color: #3C3E42;
  --naturalis-red-color: #F93F35;
  --naturalis-green-color: #489F58;
  --error-color: #FA6B00;
  --inactive-red-color: #B96560;
  --inactive-green-color: #A5D7B9;
  --white-color: #FFFFFF;
  --black-color: #000000;
}

* {
  font-size: 62.5%;
  font-family: 'Roboto';
  color:var(--white-color);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;

  font-weight: 100;
  text-decoration: none;

  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
}

h1, h2, h3{
  font-family: 'Roboto';
}

.button{
  position: relative;

  text-align: center;
  color: var(--naturalis-green-color);
  font-size: 1.8rem;

  border: none;
  border-radius: 0.4rem;
  background-color: var(--white-color);
}

.button:hover{
  cursor: pointer;
}

.button > img{
  position: absolute;
  right: 1.4rem;
}

.button:disabled{
  background-color: transparent;
}

.button--inactive{
  position: relative;

  text-align: center;
  color: var(--inactive-green-color);
  font-size: 1.8rem;

  border: solid .2rem var(--inactive-green-color);
  border-radius: 0.4rem;
  background-color: transparent;
}

.button--green{
  color: var(--white-color);
  background-color: var(--naturalis-green-color);
}

.button--red{
  color: var(--white-color);
  background-color: var(--naturalis-red-color);
}

.button--green:disabled, .button--green--inactive{
  color: var(--inactive-green-color);
  border: solid .2rem var(--inactive-green-color);
  background-color: transparent;
}

.button--red:disabled, .button--red--inactive{
  color: var(--inactive-red-color);
  border: solid .2rem var(--inactive-red-color);
  background-color: transparent;
}

.button--image{
  border: none;
  background: transparent;
}

.button--image:hover{
  cursor: pointer;
}

.button--triggerbox{
  color: transparent;
  border: none;
  background: transparent;
}

.button--triggerbox:hover{
  cursor: pointer;
}