.colorCard{
    display: flex;
    align-items: center;
    gap: 2rem;

    margin-bottom: 1rem;
}

.colorCard__block{
    display: block;
    position: relative;

    width: 7rem;
    height: 7rem;

    border-radius: 1rem;
    background-color: var(--error-color);
}

.colorCard__block__text{
    position: absolute;
    bottom: 0;

    width: inherit;
    height: 2rem;
    text-align: center;
    vertical-align: middle;
    line-height: 2rem;

    color: var(--banner-background-light-color);
    font-size: 1.4rem;
    font-weight: 1000;

    border-radius: 0 0 .8rem .8rem;
    background-color: var(--white-color);
}

.colorCard__text{
    color: var(--white-color);
    font-size: 3.6rem;
}