
.collection{
    margin: 0 2rem;
    max-width: 100rem;
}

.collection__information__figure{
    max-width: 100%;
    height: auto;
    margin-bottom: 3rem;
}

.collection__information__figure__image{
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 1rem;
}

.collection__information__title{
    margin-bottom: 1rem;
    font-size: 5rem;
    font-weight: bold;
    color:var(--naturalis-green-color);
}

.collection__information__naming{
    font-size: 1.7rem;
    font-weight: bold;
}

.collection__information__name{
    margin-bottom: 1rem;
    font-size: 1.6rem;
}

.collection__information__paragraph{
    margin: 2rem 0;
    font-size: 1.6rem;
}

.collection__where__title{
    font-size: 2.8rem;
    font-weight: bold;
    color: var(--naturalis-green-color);
}

.collection__where__map{
    background-color: var(--white-color);
    padding: 1rem;
    border-radius: 1rem;

}

.collection__where__figure{
    max-width: 100%;
    height: auto;
}

.collection__where__figure__image{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.collection__where__location{
    margin: 2rem 0;
    font-size: 1.6rem;
}